<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Personnel
  </h2>
  <!-- CTA -->

  <a
  class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-violet-100 bg-violet-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-violet"
  routerLink="tutorial">
    <div class="flex items-center">
      <svg
        class="w-5 h-5 mr-2"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path>
      </svg>
      <span>Guide d'utilisation</span>
    </div>
    <span>&RightArrow;</span>
  </a>

  <!-- New Table -->
  <div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="p-3 pb-0 mb-0 bg-white border-b-0 border-b-solid rounded-t-lg border-b-transparent">
      <div class="flex flex-wrap -mx-3 py-3">
        <div class="flex items-center flex-none w-1/2 max-w-full px-3">
          <h6 class="mb-0">Personnel</h6>
        </div>
        <div class="flex-none w-1/2 max-w-full px-1 text-right">
          <a routerLink="add" class="inline-block items-center px-6 py-1 font-bold text-center text-white uppercase align-middle bg-violet-600 rounded-lg cursor-pointer leading-pro text-size-xs shadow-soft-md bg-150 bg-gradient-to-r hover:shadow-soft-xs tracking-tight-soft bg-x-25">
            <i class="fas fa-plus"> </i>
            <span>Ajouter</span>
          </a>
        </div>
      </div>
    </div>
    <div class="w-full overflow-x-auto">
      <!-- Loading-->
      <table *ngIf="employees" class="w-full whitespace-no-wrap">
        <thead>
          <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-t border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
          <th class="px-4 py-3">Identité</th>
          <th class="px-4 py-3">Localisation</th>
          <th class="px-4 py-3">Statut</th>
          <th class="px-4 py-3">Connecté le</th>
          <th class="px-4 py-3">actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          <div *ngIf="!employees" class="spinner-grow inline-block w-8 h-8 bg-current rounded-full opacity-0 text-violet-500" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <tr *ngFor="let employee of employees" class="text-gray-700 border-r border-l dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <!-- Avatar with inset shadow -->
                <div
                  class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                >
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="assets/img/profile/DrEKESamuel.jpg"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold">{{employee.Firstname}} {{employee.Lastname}}</p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">
                    {{employee.Role}}
                  </p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">
              {{employee.UserLocation}}
            </td>
            <td class="px-4 py-3 text-xs" *ngIf="employee.IsOnline == false">
              <span
                class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100"
              >
              {{status[1].text}}
              </span>
            </td>
            <td class="px-4 py-3 text-xs" *ngIf="employee.IsOnline">
              <span
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
              >
              {{status[0].text}}
              </span>
            </td>
            <td class="px-4 py-3 text-sm">
              6/10/2022
            </td>
            <td class="px-2 py-3 text-sm">
              <!-- Table dropdown-->
              <a
                class="text-slate-500 block py-1 px-3"
                (click)="toggleDropdown($event)"
                #btnDropdownRef
              >
                <i class="fas fa-ellipsis"></i>
              </a>
              <div class="min-w-48 z-50" #popoverDropdownRef>
                <div
                  class="bg-white text-base float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
                  [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
                >
                  <a
                    href="#pablo"
                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700"
                  >
                    modifier
                  </a>
                  <a
                    href="#pablo"
                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700"
                  >
                    supprimer
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
    >
      <span class="flex items-center col-span-3">
        Afficher 21-30 sur 100
      </span>
      <span class="col-span-2"></span>
      <!-- Pagination -->
      <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
        <nav aria-label="Table navigation">
          <ul class="inline-flex items-center">
            <li>
              <button
                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-violet"
                aria-label="Previous"
              >
                <svg
                  aria-hidden="true"
                  class="w-4 h-4 fill-current"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </li>
            <li>
              <button
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-violet"
              >
                1
              </button>
            </li>
            <li>
              <button
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-violet"
              >
                2
              </button>
            </li>
            <li>
              <button
                class="px-3 py-1 text-white transition-colors duration-150 bg-violet-600 border border-r-0 border-violet-600 rounded-md focus:outline-none focus:shadow-outline-violet"
              >
                3
              </button>
            </li>
            <li>
              <button
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-violet"
              >
                4
              </button>
            </li>
            <li>
              <span class="px-3 py-1">...</span>
            </li>
            <li>
              <button
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-violet"
              >
                8
              </button>
            </li>
            <li>
              <button
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-violet"
              >
                9
              </button>
            </li>
            <li>
              <button
                class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-violet"
                aria-label="Next"
              >
                <svg
                  class="w-4 h-4 fill-current"
                  aria-hidden="true"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </li>
          </ul>
        </nav>
      </span>
    </div>
  </div>

</div>
