<!-- <main class="mt-0 transition-all duration-200 ease-soft-in-out ps">
  <section>
    <div class="relative flex items-center p-0 overflow-hidden bg-center bg-cover min-h-75-screen">
      <div class="container z-10">
        <div class="flex flex-wrap mt-0 -mx-3">
          <div class="flex flex-col w-full max-w-full px-3 mx-auto md:flex-0 shrink-0 md:w-6/12 lg:w-5/12 xl:w-4/12">
            <div class="relative flex flex-col min-w-0 mt-32 break-words bg-transparent border-0 shadow-none rounded-2xl bg-clip-border">
              <div class="p-6 pb-0 mb-0 bg-transparent border-b-0 rounded-t-2xl">
                <h3 class="relative z-10 font-bold text-transparent bg-gradient-cyan bg-clip-text">Bienvenue sur Adni</h3>
                <p class="mb-0">L'Ecole Nationale Superieure Polytechnique de Douala lance sa plateforme
                  <span class="text-size-sm font-bold text-slate-700">Adni</span> <br> pour faciliter la communication entre sa communauté alumni. <br>
                  Rejoignez-nous
                </p>
              </div>
              <div class="flex-auto p-6">
                <form role="form">
                  <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Adresse mail</label>
                  <div class="mb-4">
                    <input type="email" class="focus:shadow-soft-md text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-violet-400 focus:outline-none focus:transition-shadow" placeholder="Adresse mail" aria-label="Adresse mail" aria-describedby="Adresse mail-addon">
                  </div>
                  <label class="mb-2 ml-1 font-bold text-size-xs text-slate-700">Mot de passe</label>
                  <div class="mb-4">
                    <input type="text" class="focus:shadow-soft-md text-size-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-violet-400 focus:outline-none focus:transition-shadow" placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="Mot de passe-addon">
                  </div>
                  <div class="min-h-6 mb-0.5 block pl-12">
                    <input id="rememberMe" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5-em relative float-left -ml-12 w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" checked="">
                    <label class="mb-2 ml-1 font-normal cursor-pointer select-none text-size-sm text-slate-700" for="rememberMe">Remember me</label>
                  </div>
                  <div class="text-center">
                    <button type="button" class="inline-block w-full px-6 py-3 mt-6 mb-0 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-size-xs ease-soft-in tracking-tight-soft bg-gradient-violet hover:scale-102 hover:shadow-soft-xs active:opacity-85">S'inscrire</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
          <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 md:w-6/12">
            <div class="absolute top-0 hidden w-3/5 h-full -mr-32 overflow-hidden -skew-x-10 -right-40 rounded-bl-xl md:block">
              <div class="absolute inset-x-0 top-0 z-0 h-full -ml-16 bg-cover skew-x-10" style="background-image: url('assets/img/enspd_night.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></main> -->

<section class="bg-white dark:bg-gray-900">
  <div class="flex justify-center min-h-screen">
      <div class="hidden bg-cover lg:block lg:w-2/5" style="background-image: url('assets/img/enspd_night.jpg')">
      </div>

      <div class="flex items-center w-full max-w-3xl p-8 mx-auto lg:px-12 lg:w-3/5">
          <div class="w-full">
              <h1 class="text-2xl font-semibold tracking-wider text-gray-800 capitalize dark:text-white">
                Bienvenue sur Adni
              </h1>

              <p class="mt-4 text-gray-500 dark:text-gray-400">
                L'Ecole Nationale Superieure Polytechnique de Douala lance sa plateforme
                <span class="text-size-sm font-bold text-slate-800 dark:text-white">Adni</span> <br> pour faciliter la communication entre sa communauté alumni. <br>
                Rejoignez-nous
              </p>

              <div class="mt-6">
                  <h1 class="text-gray-500 dark:text-gray-300">Vous avez un compte ?</h1>

                  <div class="mt-3 md:flex md:items-center md:-mx-2">
                      <button routerLink="/auth/alumni/login" class="flex justify-center w-full px-6 py-3 text-white bg-violet-600 rounded-md md:w-auto md:mx-2 focus:outline-none hover:bg-violet-700">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                          </svg>

                          <span class="mx-2">
                               Alumni
                          </span>
                      </button>

                      <button routerLink="/auth/login" class="flex justify-center w-full px-6 py-3 mt-4 text-violet-500 border border-violet-500 rounded-md md:mt-0 md:w-auto md:mx-2 dark:border-violet-400 dark:text-violet-400 focus:outline-none hover:bg-violet-700 hover:text-white">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                          </svg>

                          <span class="mx-2">
                              PA
                          </span>
                      </button>
                  </div>
              </div>

              <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2">
                  <div>
                      <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Nom</label>
                      <input formControlName="firtname" type="text" placeholder="EWANE" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                      <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Prenom</label>
                      <input formControlName="lastname" type="text" placeholder="ewane" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                      <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Sexe</label>
                      <select formControlName="gender" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40">
                        <option disable>Sexe</option>
                        <option>M</option>
                        <option>F</option>
                      </select>
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Numero de telephone</label>
                    <input formControlName="phoneNumber" type="text" placeholder="XXX-XX-XXXX-XXX" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                      <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Email</label>
                      <input formControlName="email" type="email" placeholder="ewaneewane@example.com" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                      <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Date de naissance</label>
                      <input formControlName="dob" type="date" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <!--Informations professionnelles-->
                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Annee d'obtention du diplome</label>
                    <input formControlName="graduateYears" type="number" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Filiere d'etude</label>
                    <select formControlName="fieldId" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40">
                      <option disable>Selectionner une filiere</option>
                      <option>Genie Informatique et Telecoms - GIT</option>
                      <option>Technologie de Construction Industrielle - TCI</option>
                      <option>Genie Civil - GC</option>
                      <option>Genie Maritime et Portuaire - GMP</option>
                      <option>Genie Automobile et Mecatronique - GAM</option>
                      <option>Genie des Procedes - GP</option>
                      <option>Genie Electrique et Systeme Intelligent - GESI (ex-ROI)</option>
                      <option>Genie Energetique - GE</option>
                      <option>HSI</option>
                    </select>
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Statut professionnel</label>
                    <select formControlName="proStatus" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40">
                      <option disable>Selectionez un statut</option>
                      <option>Employe</option>
                      <option>Freelance</option>
                      <option>Employeur</option>
                    </select>
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Entreprise Hote</label>
                    <input formControlName="company" type="text" placeholder="Entreprise" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Lieu</label>
                    <input formControlName="localisation" type="text" placeholder="Localisation" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Poste</label>
                    <input type="text" placeholder="Poste" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                  </div>

                  <div>
                    <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Contrat</label>
                    <select formControlName="contrat" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-violet-400 dark:focus:border-violet-400 focus:ring-violet-400 focus:outline-none focus:ring focus:ring-opacity-40">
                      <option disable>Type de contrat</option>
                      <option>CDI</option>
                      <option>CDD</option>
                    </select>
                  </div>

                  <button type="submit"
                      class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-violet-600 rounded-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-50">
                      <span>S'enregistrer </span>

                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd"
                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                              clip-rule="evenodd" />
                      </svg>
                  </button>
              </form>
          </div>
      </div>
  </div>
</section>
